.ui-btn-left {
    position: absolute;
    top: 42.5em;
    left: 21%;
}

.carousel-indicators {
    bottom: 74px;
    margin-bottom: 80px !important;
}

.carousel {
    width: 110% !important;
    margin-left: -15px !important;
}

.slide {
    height: 744px;
    margin-top: 0%;
    background-color: none !important;
}

.skipBtn {
    font-size: larger;
    color: white;
    margin-bottom: 100%;
    margin-left: 70%;
    margin-top: 30px;
}

.img {
    width: 60px;
    height: 60px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
}

.imgcontent {
    background-color: white;
    width: 80px;
    height: 80px;
    margin-top: -95%;
    border-radius: 40px;
    margin-left: auto;
    margin-right: auto;
}

.title {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    color: white;
}


/* ----------- iPhone 6+, 7+ and 8+ ----------- */


/* Portrait and Landscape */

@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 3) {}


/* Portrait */

@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: portrait) {}


/* Landscape */

@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: landscape) {
    .ui-btn-left {
        position: absolute;
        top: 84% !;
        left: 34%;
    }
    .skipBtn {
        font-size: larger;
        color: white;
        margin-bottom: 100%;
        margin-left: 80% !important;
        margin-top: 30px;
    }
    .imgcontent {
        background-color: white;
        width: 80px;
        height: 80px;
        margin-top: -100%;
        border-radius: 40px;
        margin-left: auto;
        margin-right: auto;
    }
    .introPic {
        margin-left: auto;
        margin-right: auto;
        width: 300px;
        height: 300px;
        margin-top: -20px;
    }
    .carousel-indicators {
        margin-top: 60% !important;
    }
}


/* ----------- iPad ----------- */

@media only screen and (device-width: 768px) {
    /* For general iPad layouts */
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation:portrait) {
    /* For portrait layouts only */
    .ui-btn-left {
        top: 84% !important;
        left: 34% !important;
    }
    .carousel-indicators {
        margin-top: 90%;
    }
    .carousel {
        margin-left: -30px !important;
        float: left;
    }
    .slide {
        height: 1024px;
    }
    .skipBtn {
        margin-left: 80% !important;
    }
    .introPic {
        margin-left: auto;
        margin-right: auto;
        margin-top: 30%;
    }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation:landscape) {
    /* For landscape layouts only */
    .ui-btn-left {
        position: absolute;
        top: 84%;
        left: 42%;
    }
    .carousel-indicators {
        margin-top: 90%;
    }
    .carousel {
        margin-left: -39px !important;
        float: left;
    }
    .slide {
        height: 770px;
    }
    .skipBtn {
        margin-left: 80% !important;
    }
    .introPic {
        margin-left: auto;
        margin-right: auto;
    }
}